---
// No server-side code needed for this
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Liam Power</title>
		<style>
			body,
			html {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				overflow: hidden; /* Prevents scrollbars */
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover; /* Ensures the image covers the screen without distortion */
			}
		</style>
	</head>
	<body>
		<img
			src="/room_1920x1080_Improved_labels.png"
			alt="A pixel art scene of a room with two windows."
		/>
	</body>
</html>
